@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}
#hero .btn {
  padding: 21px 32px 21px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 1);
  color: white;
  color: rgba(255, 255, 255, 1);

  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border: 0px;
}
#hero .btn-container {
  text-align: center;
}
#hero {
  background: linear-gradient(
      0deg,
      rgba(9.197244644165039, 8.92899227142334, 8.92899227142334, 1),
      rgba(16, 16, 16, 0) 100%
    ),
    url("../assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  height: 919px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero .hero-content {
  width: 1023px;
}

#hero .hero-content .subtitle {
  opacity: 0.8;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .title {
  width: 1000px;
  height: 160px;
  color: rgba(255, 255, 255, 1);
  margin-top: 6px;
  margin-bottom: 20px;
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
}

#hero .hero-content .description {
  width: 1023px;
  height: 56px;
  opacity: 0.7;
  color: rgba(255, 255, 255, 1);

  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
}

#card-box {
  /* margin-top: 167px;
  margin-bottom: 150px; */
  display: flex;
  height: auto;

}

#card-box .card-content {
  width: 1320px;
  margin: 0 auto;
}

#card-box .card-content .items_titles {
  height: 742px;
  /* text-align: center; */
}

#card-box .card-content .items_titles .titles .subtitle1 {
  opacity: 0.6;
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}

#card-box .card-content .items_titles .titles .title1 {
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  width: 691px;
  height: 128px;
  margin: 0 auto;
}

#card-box .card-content .items_titles .items {
  width: 1320px;
  height: 522px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
  margin-top: 48px;
}
#card-box .card-content .items_titles .items .item1,
#card-box .card-content .items_titles .items .item2,
#card-box .card-content .items_titles .items .item3 {
  margin-right: 24px;
}

#card-box .card-content .items_titles .items .pic {
  width: 424px;
  height: 283px;
  border-radius: 16px;
  margin-bottom: 32px;
}

#card-box .card-content .items_titles .items .description {
  /* width: 424px;
  height: 207px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24;
}

#card-box .card-content .items_titles .items .description .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10;
  padding: 14px 32px 14px 32px;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  margin-bottom: 24px;
}

#card-box .card-content .items_titles .items .description .title2 {
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

#card-box .card-content .items_titles .items .description .subtitle2 {
  width: 424px;
  height: 56px;
  opacity: 0.7;
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

#card-box .card-content .btn2-container {
  text-align: center;
  margin-top: 64px;
}

#card-box .card-content .btn2 {
  color: rgba(255, 255, 255, 1);
  padding: 21px 32px 21px 32px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgba(82, 195, 3, 1);
  border: 0px;
}

#add1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#add1 .food_pic {
  width: 960px;
  height: 671px;
}

#add1 .add_des {
  width: 830px;
  height: 398px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32;
  margin-top: 136px;
  margin-bottom: 137px;
  margin-left: 77px;
}

#add1 .add_des .title3 {
  width: 805px;
  height: 128px;
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

#add1 .add_des .subtitle3 {
  opacity: 0.6;
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 78px;
}

#add1 .add_des .subtitle3_1 {
  opacity: 0.7;
  color: rgba(16, 16, 16, 1);

  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 62px;
}

#add1 .add_des .logo {
  width: 260.23px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
